body{
	font-family: sans-serif;
	padding-left: 20px;
}

dialog {
	padding-left: 1.5em;
	padding-right: 1.5em;
	border-width: 0.1em;
}

.Header {
	margin-top: 5px;
	margin-bottom: 30px;
	text-align: center; /* text-indent:10px; */
	width: 650px; /* 65% */
	padding: 10px;
	border: 1px solid;
	box-shadow: 5px 5px 10px grey;
}

.pressedActionTopButton, .pressedActionSubButton, .pressedGoButton {
    background-color: white;
	color: gray;
	border: 0.1em solid gray;
}

.blackNoUnderline {
	text-decoration: none;
	color: black;
}

.boldNoUnderline {
	text-decoration: none;
	font-weight: bold;
}

.hiddenFree {
    display: none;
}

.hiddenThere {
    visibility: hidden;
}

table.b1b{
	border: 1px solid black;
}

div.table {
	display: table;
}

div.tr {
	display: table-row;
}

div.td {
	display: table-cell;
}

.flex-container {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
	container-type: inline-size;
}

.clip {
	overflow: clip;
}

.no-line-wrap {
	white-space: nowrap;
}

.flex-grow {
	flex-grow: 1;
	border-left: 0.2em solid white;
	border-right: 0.2em solid white;
}

.ButtonAsText{
	background-color: transparent;
	border: 0;
	padding: 0;
	font-size: 100%; 
}

.img-input-output {
	height: 1em;
}

input[type="text"].Descr {
    width: 100%;
    border-width: 0;
    box-sizing: border-box;
}

.littleCentered {
	width: 3em;
	text-align: center;
}

input[type=number] {
    width: 5em;
	text-align: center;
}

.msgBox {
	border: 1px solid black; 
	width: 650px;
	padding-left: 1em;
}

.redText {
	color: red;
}

.indentText {
	padding-left: 30px;
}

.indentButton {
	margin-left: 30px;
}

.help-join-two-list {
	border: 0.1em solid lightgray;
	width: 3em;
	padding-left: 0.5em;
}

.help-dupli-unit {
	width: 37.5em;
}
.help-dupli-1-item {
	border: 0.1em solid lightgray;
	padding: 0.5em;
	text-align: center;
}
.help-dupli-2-container, .help-dupli-4-container {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5em;
}
.help-dupli-2-container div {
	width: 17.3em;
	border: 0.1em solid lightgray;
	padding: 0.5em;
	text-align: center;
}
.help-dupli-4-container div {
	width: 7.8em;
	border: 0.1em solid lightgray;
	padding: 0.5em;
}
